Flask==3.0.3
flask-cors==4.0.0

torch==2.1.2
transformers==4.38.2
tokenizers==0.15.2
safetensors==0.4.2

tensorflow-cpu==2.15.1
tensorflow-io-gcs-filesystem==0.31.0

google-search-results==2.4.2
groq==0.26.0

requests==2.32.3
